@page "/notice/detail/{id:int}"

@inject HttpClient Http
@inject NavigationManager NavigationManger

<CategoryTitle Title="공지사항" Link="/notice" />

@if (_Notice == null)
{

}
else
{

    <section>
        <div class="card card-body bg-light mt-5">
            <div class="form-group row">
                <label for="title" class="col-md-2">상점명:</label>
                <div class="col-md-10">
                    <label for="title" class="col-md-10">@_Notice.Title</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="content" class="col-md-2">설명:</label>
                <div class="col-md-10">
                    <label for="title" class="col-md-10">@_Notice.Content</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="content" class="col-md-2">등록일:</label>
                <div class="col-md-10">
                    <label for="title" class="col-md-10">@_Notice.Created</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="content" class="col-md-2">조회수:</label>
                <div class="col-md-10">
                    <label for="title" class="col-md-10">@_Notice.ReadCnt</label>
                </div>
            </div>
            <div class="form-group row">
                <label for="content" class="col-md-2">작성자:</label>
                <div class="col-md-10">
                    <label for="title" class="col-md-10">@_Notice.MemberId</label>
                </div>
            </div>
        </div>

    </section>


}
@code {
    [Parameter]
    public int id { get; set; }

    private NoticeModel _Notice;

    protected override async Task OnInitializedAsync()
    {
        _Notice = await Http.GetFromJsonAsync<NoticeModel>($"api/notices/{id}");
    }
}
