@page "/product/update/{id}"
@inject HttpClient Http
@using WebServer.Models.Product
<h1>Product update</h1>


@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>FilePath</th>
                <th>Create</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td> <img src="@product.ImageUrl" asp-append-version="true" /></td>
                    <td>@product.Created</td>
                    <td>@product.Modified</td>

                </tr>

        </tbody>
    </table>
}
@code {

    [Parameter]
    public string id { get; set; }

    private ProductModel product;

    protected override async Task OnInitializedAsync()
    {
        product = await Http.GetFromJsonAsync<ProductModel>($"api/products/{id}");
    }

}
